:root {
    --font-color: #646464;
    --font-size: 16px;
    --theme-color: #42b983;
    --theme-color-bg: #fff;
    --theme-color-grey: #888888;
    --theme-color-black: #444444;
    --text-gap: 15px;
    --line-height: 1.7rem
}

* {
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    box-sizing: border-box
}

body:not(.ready) {
    overflow: hidden
}

body:not(.ready) .app-nav, body:not(.ready)>nav, body:not(.ready) [data-cloak] {
    display: none
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: var(--font-size);
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden
}

/* markdown style */

.content {
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
    transition: left .25s ease
}

.markdown-section {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 15px 0;
    position: relative
}

.markdown-section>* {
    box-sizing: border-box;
    font-size: var(--font-size);
}

.markdown-section>:first-child {
    margin-top: 0!important
}

/* Article */

.markdown-section p {
    margin: 0 0 20px
}

.markdown-section ol, .markdown-section p, .markdown-section ul {
    line-height: var(--line-height);
    word-spacing: .05rem
}

/*  Text */

.markdown-section em {
    font-style: normal;
    background-color: rgba(250, 255, 180);
    padding: 0 3px 0;
    border-radius: 10px;
}

.markdown-section strong {
    border-bottom: .8px solid var(--theme-color-grey);
}

/* hr */

.markdown-section hr {
    border: none;
    border-bottom: 1px solid #eee;
    margin: 24px 0
}

/* Link */

.markdown-section a {
    color: var(--theme-color);
    /* font-weight: 600; */
}

/* List */

.markdown-section ol, .markdown-section ul {
    padding-left: 12px;
    list-style: none;
}

.markdown-section ul>li::before {
    content: '';
    display: inline-block;
    box-sizing: border-box;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 3px solid var(--theme-color);
    line-height: 0;
    background-color: var(--theme-color-bg);
}

li>a {
    text-decoration: none;
}

/* Heading */

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section strong {
    color: var(--theme-color-black);
    font-weight: 600;
    /* position: relative; */
}

/* .markdown-section h1::before, .markdown-section h2::before, .markdown-section h3::before {
    position: absolute;
    content: "\f0c1";
} */

.markdown-section h1 {
    font-size: 24px;
    margin: 0 0 12px
}

.markdown-section h2 {
    font-size: 21px;
    margin: 0 0 10px
}

.markdown-section h3 {
    font-size: 18px;
    margin: 0 0 10px
}

.markdown-section h4 {
    font-size: 15px
}

.markdown-section h5 {
    font-size: 15px
}

.markdown-section h6 {
    font-size: 15px;
    color: #777
}

/* Blockquote */

.markdown-section blockquote {
    border-left: 4px solid var(--theme-color);
    color: var(--theme-color-grey);
    margin: 12px 0;
    padding-left: 20px
}

.markdown-section blockquote p {
    font-weight: 600;
    margin-left: 0
}

/* iframe */

.markdown-section iframe {
    border: 1px solid #eee;
    width: 1px;
    min-width: 100%;
    margin: 1em 0
}

/* vuep */

.vuep {
    flex-direction: column;
    height: initial;
}

.vuep-editor, .vuep-preview, .vuep-error {
    width: 100%;
    height: initial;
}

.vuep-editor pre {
    font-family: Roboto Mono, Monaco, courier, monospace;
}

/* table */

.markdown-section table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    margin-bottom: 1rem;
    overflow: auto;
    width: 100%
}

.markdown-section th {
    font-weight: 700
}

.markdown-section td, .markdown-section th {
    border: 1px solid #ddd;
    padding: 6px 13px
}

.markdown-section tr {
    border-top: 1px solid #ccc
}

/* code style */

.markdown-section code {
    border-radius: 2px;
    color: #e96900;
    font-size: 14px;
    margin: 0 2px;
    padding: 3px 5px;
    white-space: pre-wrap
}

.markdown-section code, .markdown-section pre {
    background-color: #f8f8f8;
}

.markdown-section pre {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    line-height: 1rem;
    margin: 1.2em 0;
    overflow: auto;
    padding: 0 1.4rem;
    position: relative;
    word-wrap: normal
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #8e908c
}

.token.namespace {
    opacity: .7
}

.token.boolean, .token.number {
    color: #c76b29
}

.token.punctuation {
    color: #525252
}

.token.property {
    color: #c08b30
}

.token.tag {
    color: #2973b7
}

.token.string {
    color: var(--theme-color, #42b983)
}

.token.selector {
    color: #6679cc
}

.token.attr-name {
    color: #2973b7
}

.language-css .token.string, .style .token.string, .token.entity, .token.url {
    color: #22a2c9
}

.token.attr-value, .token.control, .token.directive, .token.unit {
    color: var(--theme-color, #42b983)
}

.token.function, .token.keyword {
    color: #e96900
}

.token.atrule, .token.regex, .token.statement {
    color: #22a2c9
}

.token.placeholder, .token.variable {
    color: #3d8fd1
}

.token.deleted {
    text-decoration: line-through
}

.token.inserted {
    border-bottom: 1px dotted #202746;
    text-decoration: none
}

.token.italic {
    font-style: italic
}

.token.bold, .token.important {
    font-weight: 700
}

.token.important {
    color: #c94922
}

.token.entity {
    cursor: help
}

.markdown-section pre>code {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    font-family: -apple-system, BlinkMacSystemFont, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    background-color: #f8f8f8;
    border-radius: 2px;
    color: #525252;
    display: block;
    font-size: .8 rem;
    line-height: inherit;
    margin: 0 2px;
    max-width: inherit;
    overflow: inherit;
    padding: 2em 3px;
    white-space: pre-wrap
}

.markdown-section code:after, .markdown-section code:before {
    letter-spacing: .05rem
}

code .token {
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    min-height: 1.5rem
}

pre:after {
    color: #ccc;
    content: attr(data-lang);
    font-size: .6rem;
    font-weight: 600;
    height: 15px;
    line-height: 15px;
    padding: 5px 10px 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0
}

/* docsify-pagination-container */

.docsify-pagination-container {
    margin: 20px 0 20px !important;
}

.pagination-item {
    margin-top: 10px !important;
}

.pagination-item-title {
    font-size: 18px !important;
}